
#body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: left;
  //	justify-content: center;
}



#header { 
  color:  black;
  font-family: Gotham rounded;
  font-weight: 500;
  font-size: 18pt;
  position:absolute;
  left:15%;
  top: 43%;
  // text-align:left;
  max-width: 50%;
  //background-color: lightgreen

}

#text-content { 
  color:  black;
  font-family: Arapey;
  font-weight: 500;
  font-size: 15pt;
  position:absolute;
  left:15%;
  top: 53%;
  // text-align:left;
  max-width: 44%;
  //background-color: lightblue;
}

#menu { 
  color:  black;
  font-family: Gotham rounded;
  font-weight: 500;
  font-size: 14pt;
  position:absolute;
  left:80%;
  top: 43%;
  line-height: 2em;
  // text-align:left;
  max-width: 20%;
  //background-color: red;
}


#logo {
  width: 100%;
  height: 10%;
  text-align: center;
 // background-color: pink;
 // position:absolute;
  padding-top:10%;
}

#footer {
  width: 100%;
  height: 10%;
  text-align: center;
  background-color: #212121;
  //position:absolute;
 // position:fixed;
  padding-top:0%;
  bottom:0%;
}

.active {
  color: #616161;  
}
